In [1]:
%config IPCompleter.greedy=True

# Importando y cargando los datos con read_csv

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
#Parámetros iniciales

main_path='/home/franklin/Documentos/GitHub/python-ml-course/datasets'
filename='titanic/titanic3.csv'

In [3]:
full_path=main_path+'/'+filename
full_path=os.path.join(main_path,filename)

In [4]:
df_titanic=pd.read_csv(full_path)
#df2=pd.read_csv('../GitHub/python-ml-course/datasets/titanic/titanic3.csv')

#df3=pd.read_csv('../GitHub/python-ml-course/datasets/titanic/titanic3.csv',
                #sep=",",dtype={"pclass":np.int32},header=0,names=None,
                #skiprows=None,index_col=None,skip_blank_lines=False,na_filter=False)

In [5]:
df_churn=pd.read_csv(os.path.join(main_path,'customer-churn-model/Customer Churn Model.txt'))

# Leyendo y trabajando con el método open

Se usa cuando hay un volumen de datos muy alto, pues Pandas al leerlo todo de golpe, satura más rápido la memoria RAM.

In [6]:
data=open(os.path.join(main_path,'customer-churn-model/Customer Churn Model.txt'),'r')

In [7]:
cols=data.readline().strip().split(",") 
#strip para eliminar espacios al inicio y final de la línea, split para separar por coma
n_cols=len(cols)

In [8]:
counter=0
main_dict={}
for col in cols:
    main_dict[col]=[]

In [9]:
for line in data:
    values=line.strip().split(",")
    for i in range(len(cols)):
        main_dict[cols[i]].append(values[i])
    counter+=1
        
print ("El dataset tiene %d filas y %d columnas"%(counter,n_cols))

El dataset tiene 3333 filas y 21 columnas

## Lectura y escritura de ficheros (de csv a txt)

In [10]:
infile=os.path.join(main_path,'customer-churn-model/Customer Churn Model.txt')
outfile=os.path.join(main_path,'customer-churn-model/Tab Customer Churn Model.txt')

In [11]:
with open(infile,'r') as infile1:
    with open(outfile,'w') as outfile1:
        for line in infile1:
            fields=line.strip().split(',')
            outfile1.write("\t".join(fields)) #\t es para el tabulador
            outfile1.write('\n') #\n es para salto de línea

Verificando su funcionamiento

In [12]:
df_churn_tab=pd.read_csv(outfile,sep='\t')

In [13]:
df_churn.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

# Leer datos desde una URL

In [14]:
medals_url="http://winterolympicsmedals.com/medals.csv"

In [15]:
df_medals=pd.read_csv(medals_url)

In [16]:
df_medals.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

Otra forma alternativa

In [17]:
import csv
import urllib3

In [18]:
import urllib3
http = urllib3.PoolManager()
r = http.request('GET', medals_url)
response=r.data.decode("utf-8") #Si aparece una b por delante del string hay que revisar la codificación y pasarse de
                                # de ese string binario a string

### Primer método

In [19]:
cr=csv.reader(response.split('\n'))

In [20]:
cols_medals=cr.__next__()
df_medals_first=pd.DataFrame(cr,columns=cols_medals)

In [21]:
df_medals_first.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

### Segundo método

In [22]:
#Se divide el string en una lista de filas
lines=response.split("\n")

#Se extrae la primera fila, la cual es el encabezado
col_names=lines[0].split(",")
len_col=len(col_names)

In [23]:
#Creación del diccionario para rellenarlo
def dict_machine(filas,col_names):
    counter=0
    main_dict={} #Creación del diccionario vacío 
    for col in col_names:
        main_dict[col]=[]
    
    for line in filas:
        if counter>0: # Esto se hace para saltar la primera fila que aparece en el fichero
            values=line.strip().split(",")
            for i in range(len(col_names)):
                main_dict[col_names[i]].append(values[i])
        counter+=1
        
    print("El dataset tiene %d filas y %d columnas"%(counter,len(col_names)))
    df=pd.DataFrame(main_dict)
    return df

In [24]:
df_medals_second=dict_machine(lines,col_names)
df_medals_second.head()

El dataset tiene 2312 filas y 8 columnas

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

Se agrega el nuevo dataset a una ruta

In [25]:
main_path='/home/franklin/Documentos/GitHub/python-ml-course/datasets'
filename='athletes/medals_record.'
full_path=os.path.join(main_path,filename)

In [28]:
df_medals_second.to_csv(full_path+'csv')
df_medals.to_excel(full_path+'xlsx')
df_medals_second.to_json(full_path+'json')